# Project exclude paths
/.gradle/
/Battleship/task/build/
/Battleship/task/out/production/classes/
/Battleship/task/out/test/classes/
/Topics/Input streams/Convert to bytes/out/
/Topics/Input streams/Convert to bytes/out/production/classes/
/Topics/Input streams/Count words/out/
/Topics/Input streams/Count words/out/production/classes/
/Topics/Input streams/Reverse input text/out/
/Topics/Input streams/Reverse input text/out/production/classes/
/Topics/NPE/Avoid NPE/out/
/Topics/NPE/Avoid NPE/out/production/classes/
/Topics/NPE/Avoid NPE with strings/out/
/Topics/NPE/Avoid NPE with strings/out/production/classes/
/Topics/Overloading/Print/out/
/Topics/Overloading/Print/out/production/classes/
/Topics/Throwing exceptions/Days of the week/out/
/Topics/Throwing exceptions/Days of the week/out/production/classes/